body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
}

.privacy-policy {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* padding: 1rem; */
}

.container {
  /* background-color: #fff; */
  padding: 2.5rem;
  border-radius: 10px;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
  width: 90%;
  font-size: 1rem;
}

.title {
  font-size: 3.5rem;
  color: #333;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 600;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.intro {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 2.5rem;
}

section {
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 1rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
  color: #444;
  margin-bottom: 1rem;
}

ul {
  list-style-type: disc;
  margin-left: 0px;
  text-align: left;
}

li {
  margin-bottom: 0.5rem;
  color: #444;
  margin-left: 0% !important;
  text-align: left !important;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 900px) {
  .container {
    padding: 2rem;
  }

  .title {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  p, ul {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 1.5rem;
  }

  .title {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  p, ul {
    font-size: 0.9rem;
  }
}
